@import 'tailwindcss';

@theme {
	/* ================================
     TIPOGRAFÍAS DISCAS
  ================================= */

	--font-inter: 'Inter', sans-serif;
	--font-nunito: 'Nunito Sans', sans-serif;
	--font-poppins: 'Poppins', sans-serif;
	--font-quicksand: 'Quicksand', sans-serif;
	--font-hind: 'Hind', sans-serif;
	--font-merriweather-sans: 'Merriweather Sans', sans-serif;
	--font-dancing: 'Dancing Script', cursive;

	/* ================================
     PALETA DE COLORES DISCAS
  ================================= */
	--color-brown: #4e3a2f;
	--color-teal-dark: #03979f;
	--color-teal-light: #71cfc6;
	--color-orange-soft: #f3cd94;
	--color-orange: #fca933;
	--color-red: #fc1a0e;

	/* DISCAS DE LAS SIERRAS */
	--color-green: #00c26b;
	--color-pink-dark: #ff4479;
	--color-pink-light: #ffa5bb;
}
